* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: hsl(0, 100%, 41%);
  color: white;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav li {
  margin-right: 20px;
}
nav a {
  color: white;
  text-decoration: none;
}
.logo {
  max-width: 80px;
  max-height: 80px;
}
.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cart-icon,
.login-icon {
  max-width: 30px;
  max-height: 30px;
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header-right a {
  color: black;
  text-decoration: none;
  margin-right: 10px;
}
.header-right img {
  vertical-align: middle;
}
.video-section {
  margin: 0;
}
.history-section {
  padding: 30px;
}
.history-section h2 {
  margin-bottom: 60px;
}
.grid {
  justify-content: center;
  display: grid;
  grid-template-columns: 200px 300px 300px;
  grid-gap: 20px;
}
.grid-item {
  border: none;
  padding: 10px;
}
.grid-item h3 {
  display: inline-block;
  width: 150px;
  margin: 50px;
}
footer {
  padding: 40px;
  color: white;
  background-color: #333;
  display: flex;
  justify-content: space-around;
}
footer ul li a {
  color: white;
  text-decoration: none;
  list-style-type: none;
  font-weight: 10;
}
#comment {
  display: flex;
  flex-direction: column;
}
